* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background:  #00adb5;
  font-family: sans-serif;

}




.container {
  width: 1000px;
  border-radius: 20px;
  height: 100vh;
  margin: auto;
  text-align: center;
  padding: 20px;
  z-index: 1000;
}


.container .logo {
  background: #00adb5;
  padding: 20px;
}


.input-section {
  padding: 20px;
  background-color: #393e46;
}

.input-section i {
  color: white;
  font-size: 20px;
  padding-left: 10px;
}

.input-section input {
  height: 40px;
  margin: 0 5px;
  padding: 0 5px;
}

.todos-list {
  background: #eeeeee;
  padding: 20px;
  
}

.todos-list ul {
  list-style: none;
}

.todos-list ul li {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightcoral;
}
